/*html, body {
    overflow : hidden;
}*/
html > * {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
::selection{ background : gray; }

div#login_form {
    position : absolute;
    width : 28%;
    height: 100%;
    left : 0%;
    top : 0%;
    border-right : solid;
    border-color: rgb(190 , 190, 190);
}
span#server_select{
    position : absolute;
    left : 100%;
    top : 20%;
    width : 100%;
    height : 15%;
    transform : translate(-50%, 0%);
}
select#server_list {
    position : absolute;
    outline : none;
    width : 30%;
    height : 25%;
    text-align-last: center;
    -webkit-appearance : none;

    border-top : white 1px;
    border-left : white 1px;
    border-right : white 1px;
    border-bottom-color : rgb(0, 0, 0) 3px solid;
}
span#login {
    position : absolute;
    width : 70%;
    left : 50%;
    top : 45%;
    transform : translate(-50%, -50%);
}
span#login > a {
    position : absolute;
    font-size : 150%;
    top : -17.5%;
    left : -2%;
}
input#ID,
input#PW {
    outline : none;
    width : 95%;
    height : 25%;
    padding : 3%;
    margin-bottom : 5%;
    font-size : 15px;
    background-color : white;

    border-top : white 1px;
    border-left : white 1px;
    border-right : white 1px;
    border-bottom-color : rgb(0, 0, 0) 3px solid;
}
button#login {
    outline : none;
    width : 30%;
    height : 30%;
    padding : 3%;
    background-color : white;
    border : gray 1px solid;
    border-radius : 3px;
    color : rgb(50, 50, 50);
    border-radius : 7.5px;
    float : right;
    margin-top : 5%;
}
button#login:hover {
    background-color : rgb(204, 204, 204);
    color : rgb(0, 0, 0);
}
button#join {
    position : absolute;
    outline : none;
    font-size : 13.5px;
    background-color : white;
    border : white 1px solid;
    color : rgb(150, 150, 150);
    top : 77.5%;
    transform : translate(43%, 190%);
}
button#credit {
    position : absolute;
    outline : none;
    font-size : 13.5px;
    background-color : white;
    border : white 1px solid;
    color : rgb(150, 150, 150);
    top : 77.2%;
    transform : translate(36%, 485%);
}
button#join:hover,
button#credit:hover {
    color : rgb(25, 25, 25);
}
span#message {
    position : absolute;
    font-size : 13.5px;
    top : 84.5%;
    text-align : left;
    color : rgb(150, 150, 150);
    width : 100%;
    transform : translate(-13.5px, 0%);
}
p#message-1 {
    position : absolute;
    width : 100%;
    transform : translate(13%, 0%);
}
p#message-2 {
    position : absolute;
    width : 100%;
    transform : translate(13%, 110%);
}

div#main_scene {
    position : absolute;
    width : 72%;
    height : 100%;
    left : 28%;
    top : 0%;
}