<!doctype html>
<FONT face="Arial Narrow">
<html>
    <head>
        <title>antwar - admin</title>
        <script src = "https://code.jquery.com/jquery-1.12.4.min.js"></script>
    </head>
    <body>
        <form method = "post" action = "/admin">
            <input type = "text" id = "ID" name = "ID" placeholder = "ID"></input>
            <input type = "password" id = "PW" name = "PW" placeholder = "PW"></input>
            <input type = "submit" id = "SUBMIT" value = "SUBMIT"></input>
        </form>
    </body>
</html>
</FONT>