<!doctype html>
<FONT face="Arial Narrow">
<html>
    <head>
        <title>antwar - {{server.name}}</title>
        <script src = "https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js"></script>

        <script lang = "javascript">var room_array = new Object();</script>
        {% for name in room.name %}
            <script>
                room_array["{{name}}"] = new Object();
                room_array["{{name}}"]["password"] = "{{room.list[name].password}}";
                room_array["{{name}}"]["lock"] = (room_array["{{name}}"]["password"] != "");
                room_array["{{name}}"]["players"] = [];
            </script>

            {% for player_name in room.list[name].player_list %}
                <script>
                    room_array["{{name}}"]["players"].push("{{player_name}}");
                </script>
            {% endfor %}
        {% endfor %}

        <script>
            function enter_room(room) {

            }

            function check_enter_room(name) {
                var name = $("input#name").val();

                if (name == "" || name.indexOf('"') != -1) {
                    if (name == "") {
                        alert("Please check your name.");
                        return;
                    }
                    if (name.indexOf('"') != -1) {
                        alert("Name can't include double quotes.");
                        return;
                    }
                }

                if (room_array[name].lock) {
                    var room_pw = prompt("Please enter yout password.");
                    if (room_pw != room_array[name].password) {
                        alert("Unsuited password.");
                        return;
                    }
                }
                enter_room(name);
            }
        </script>
    
        <style>
            div#room_list{
                border: 1px solid black;
            }
            div#room_detail{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <div id = "top">
            <input type = "text" id = "name" placeholder = "NAME"></input>
            <p id = "server_name">🌏 {{server.name}}</p>
            <input type = "text" id = "search"></input>
            <button id = "search_confirm" onclick = "">🔍</button>
            <button id = "new_room" onclick = "">new_room</button>
        </div>
        <div id = "room_list">
            {% for name in room.name %}
                <button id = "{{name}}" onclick = "check_enter_room('{{name}}')">

                    <p id = "r_name">{{name}}</p>
                    <p id = r_player>{{room.list[name].player_cnt}} / {{room.list[name].max_player}}</p>

                    {% if room.list[name].lock %}
                        <p id = "lock_icon">🔒</p>
                    {% endif %}

                </button>
            {% endfor %}
        </div>
    </body>
</html>
</FONT>